body{
	font-family: Roboto, sans-serif;
	font-size: 16px;
	letter-spacing: 0.02em;
	color: #434455;
	background-color: #FFFFFF;
}
.header {
}
.logo {
	font-family: Raleway, sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.33;
	text-decoration: none;
	color: #2E2F42;
}
.logo-span{
	color: #4D5AE5;
}
.nav-list{
	list-style: none;
}
.nav-link {
	font-weight: 500;
	line-height: 1.5;
	text-decoration: none;
	color: #2E2F42;
}
.nav-link:hover,
.nav-link:focus{
	color: #404BBF;
}
.current{
	color: #404BBF;
}
.contact-list{
	list-style: none;
}
.contact-link{
	color: #434455;
	text-decoration: none;
	font-style: normal;
}
.contact-link:hover,
.contact-link:focus{
	color: #404BBF;
}
.hero {
}
.hero-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
}
.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.button {
	font-weight: 500;
	align-items: center;
	letter-spacing: 0.04em;
	cursor: pointer;
}
.button:hover,
.button:focus {
	background-color: #404BBF;
	color: #FFFFFF;
}
.button-dark {
	background-color: #4D5AE5;
	color: #FFFFFF;
}
.button-light{
	background-color: #F4F4FD;
	color: #4D5AE5;
	border: 1px solid #E7E9FC;
}
.common-section {
}
.common-list{
	list-style: none;
}
.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	color: #2E2F42;
}
.title-list {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	color: #2E2F42;
}
.text-list {
	line-height: 1.5;
}
.work-section {
}
.work-list {
	list-style: none;
}
.team-section {
	background-color: #F4F4FD;
}
.team-list {
	list-style: none;
}
.team-list>li{
	background-color: #FFFFFF;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}
.footer {
	color: #E7E9FC;
	background-color: #2E2F42;
}
.logo-footer{
	color: #F4F4FD;
}
/* ============================== */

.portfolio {
}
.filter-list {
	list-style: none;
}
.portfolio-list {
	list-style: none;
}